.portfolio {
  min-height: 100vh;
  margin-top: 50px;
  margin-bottom: 50px;
}

.portfolio span,
.portfolio a {
  color: #E83151
}

.portfolio .card {
  margin: 5px;
}
.projectImage{
  border: 1px solid darkgrey;
  margin: 10px;
}
