@import "~bootstrap/dist/css/bootstrap.min.css";

@font-face {
  font-family: "Poppins-Regular";
  /*Can be any text*/
  src: local("Poppins-Regular"),
    url("/assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-display: swap;
}

body {
  font-family: 'Poppins-Regular';

}
