.navbar-brand {
  font-size: 2rem ! important;
  font-weight: bold;

}

.logo:hover {
  color: #E83151;
}

.transparent {
  background-color: transparent;
  transition: .5s padding-top ease-out !important;
  transition: .5s padding-bottom ease-out !important;
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

.notTransparent {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  transition: .5s padding-top ease-out !important;
  transition: .5s padding-bottom ease-out !important;
  background-color: #fff;
  box-shadow: 0 10px 100px rgba(0, 0, 0, .1);
}

.transparent a {
  color: white;
}

.transparent .active {
  color: #E83151 !important;
}

.navbar-nav a {
  font-size: 1em;
  font-weight: 500;
}

.navbar-nav .btn {
  border-radius: 25px;
  background-color: #e8314fb4;
  border: solid #E83151 1.5px;
}

.navbar-nav .btn:hover {
  background-color: #E83151;
  border: solid #E83151 1.5px;

}

.navbar-nav a:hover,
.navbar-brand:hover {
  color: #E83151 !important;
}
