.navbar-brand {
  font-size: 2rem ! important;
  font-weight: bold;
}
@media screen and (min-width: 1024px) {
  .navbar-brand {
    cursor: none;
  }
  .navbar-nav .btn {
    cursor: none;
  }
.navbar-nav a:hover,
.navbar-brand:hover {
  cursor: none;
}
}

.logo:hover {
  color: #E83151;
}

.transparent {
  background-color: transparent;
  transition: .5s padding-top ease-out !important;
  transition: .5s padding-bottom ease-out !important;
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

.notTransparent {
  transition: .5s padding-top ease-out !important;
  transition: .5s padding-bottom ease-out !important;
  background-color: #212529;
  /* box-shadow: 0 10px 100px rgba(0, 0, 0, .1); */
}

.transparent a,
.notTransparent a {
  color: white;
}

.active {
  color: #E83151 !important;
}

.navbar-nav a {
  font-size: 1em;
  font-weight: 500;
}

.navbar-nav .btn {
  border-radius: 25px;
  background-color: #e8314fb4;
  border: solid #E83151 1.5px;
}



.navbar-nav .btn:hover {
  background-color: #E83151;
  border: solid #E83151 1.5px;

}

.navbar-nav a:hover,
.navbar-brand:hover {
  color: #E83151 !important;
}

.liens{
  display: flex;
  padding-top: 15px;
    padding-bottom: 15px;

}
